@font-face {
  font-family: 'Sora';
  src: url('../fonts/Sora-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Sora';
  src: url('../fonts/Sora-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Sora';
  src: url('../fonts/Sora-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Sora';
  src: url('../fonts/Sora-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
}
