:root {
  --error: #ef4444;
  --primary-black: #000;
  --primary-neutral: #404040;
  --primary-white: #fff;
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-500: #71717a;
  --zinc-800: #27272a;
}
